.container {
    width: 300px;
    height: 200px;
    border: 2px solid black;
    background-color: transparent;
    position: relative;
}

.box {
    width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 30px;
    left: 30px;
}